# DIGHUM101-Homework1
**Assigned:** May 21, 2018  
**Due:** June 7, 2018 (before 11:59:59PM)

**How to submit:** 
1. Save your notebook! 
2. Click "File" --> "Download as" --> "Notebook (.ipynb)"
3. Visit the bCourses site to view instructions for uploading your .ipynb notebook file.

**Description:** review and test your Week 1 Python coding skills. 

**For non-code related questions** that ask you to describe or explain something, write no more than 1-3 sentences.

#### 1. Describe the steps to launch a Jupiter Notebook.

#### 2. Describe how you add and delete cells in a Jupyter Notebook.

#### 3. Describe how to convert code cells to markdown cells and vice-versa in a Jupyter Notebook.

#### 4. Describe how to restart your Jupyter Notebook kernel and clear your output.

#### 5. What does the `%history` function do?

#### 6. Where should you click or go if you need help?

#### 7. Describe how you properly save and quit a Jupiter Notebook.

#### 8. Describe the three-piece recipe for variable definition:  
    7a. What goes on the left side?  
    7b. What goes in the middle?  
    7c. What goes on the right side?

#### 9. Define a string variable named `string1` and print its output.

#### 10. Give `string1` a new definition and print its output.

#### 11. Describe what happened to the definition of the original my_string?

#### 12. Define two float variables and print their outputs.

#### 13. Define two integer variables and print their outputs.

#### 14. Sum your two float variables and divide them by the sum of the two integer variables. Call this variable `division` and print its output. Then print out the type of data of `division`. (hint: see #15 below!)

#### 15. What function should you use to check the type/class of some data?

#### 16. What function should you use to:
    16a. convert a string to a float?
    16b. convert a float to an integer?
    16c. convert a number to a string?

#### 17. Define a string, print its class, and convert it to a float. Print its new class.

#### 18. Define a float, print its class, and convert it to an integer. Print its new class.

#### 19. Define an integer, print its class, and convert it to a string. Print its new class.

#### 20. Define and print three variables:
####    20a. A string named `major` that contains your major
####    20b. A string named `dream_job` that contains your dream job. 
####    20c. An integer named `years` that contains the number of years until you are working at your dream job.

#### 21. Print a statement that says 
"My major is `major` and my goal is to work at `dream_job` in `years` years." 

(hint: think about which function you need to use to "print" something, and how many arguments you should have to make it work)

#### 22. Define and print a list named `my_list` that contains the following elements: 27, 3.14, "Apple", and "Pineapple".

#### 23. Print the class of "my_list".

#### 24. Type out one way to get help in Python

#### 25. Recall the strings are composed of substrings. In the name below, print the character in the 8th position.

In [32]:
person = "Isabel Allende"

#### 26. Slice and print positions 5-8 in `person`

#### 27. Slice and print only the first name from `person`

#### 28. Slice and print only the last name from `person`

#### 29. Using the `datascience` library, create a table with data of your choosing that has 3 columns and 5 rows. 

#### Of your three columns, one must be a float, one must be an integer, and one must be a string. 

#### Call this variable `my_table` and print it out (remember, with Tables you do not have to explicitly use the `print` function!)

Remember to run the below line of code to import the `datascience` library.

In [38]:
from datascience import *

#### 30. Show how you would use a method to count the number of columns in `my_table`.

#### 31. Show how you would use a method to count the number of rows in `my_table`.

#### 32. Extract only the first and third columns from `my_table`. Store this in a new variable named `my_table2` and print it out.

#### 33. Add a new column to `my_table` that is the result of some math operation on your float and integer columns.

#### 34. Create a histogram for one of your variables from `my_table`.

#### 35. Create a bar chart using variables from `my_table`.

#### 36. Write the code to replicate this table. Call it `example_table`:

![example_table](img/example_table.png)

In [ ]:
example_table =

#### 37. Extract rows from `example_table` where column B is equal to 3 (hint: the name of the function to do this is located here in this question prompt!)

#### 38. Create a scatterplot using `example_table` with variable A on the X axis and variable B on the y axis.

#### 39. Calculate the sum of column A in `example_table`

#### 40. Calculate the sum of column B in `example_table`

#### 41. Use a logical test to see if the sum of column A is greater than the sum of column B (hint: you should get only True or False as your answer!)

#### 42. Store the following text in a variable named `my_string`: 

#### "When the dog jumped over the cat, the cat jumped over the jumping mouse."

Print it out!

#### 43. Use Python to count the number of characters in `my_string`.

#### 44. Use Python to count the number of words in my_string. Print out the result.

#### 45. At which index does the word "dog" appear? At which index does the word "cat" _last_ appear? Print out both answers.

#### 46. Tokenize `my_string` and print out the results.

#### 47. Remove the punctuation from `my_string` and print the results.

#### 48. Count the number of words in `my_string`. Print the results.

#### 49. Stem the following words: "running", "sleeping", "eats", "bounces", "studying", "texting".

#### 50. Write your own custom function that does something (anything). Print an example of the results.